.git
.idea
.vscode

**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/

.env
.env.*
infra/env/*.env
services/*/.env
services/*/.env.*

frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.rspack-profile-*/

docs/
*.log
logs/

services/authentification/certs/*.pem
