# --- FRONTEND IGNORE RULES ---
/frontend/.DS_Store
/frontend/*.local
/frontend/*.log*

/frontend/node_modules
/frontend/build/

/frontend/.rspack-profile-*/

/frontend/.vscode/*
!/frontend/.vscode/extensions.json
/frontend/.idea


# --- AUTHENTIFICATION IGNORE RULES ---
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
*/*/.pytest_cache/
*/*/.env
*/*/.env.test
*/*/*.sh
*/*/*.db
*/*/*.log
*/*//geoip/GeoLite2-City.mmdb
*/*/celerybeat-schedule
*/*/certs
*/*/.idea
**/.DS_Store
