# --- FRONTEND IGNORE RULES ---
/frontend/*.local
/frontend/*.log*
/frontend/node_modules
/frontend/build/
/frontend/.rspack-profile-*/
!/frontend/.vscode/extensions.json
!/frontend/.vscode/settings.json

# --- UNIVERSAL IGNORE RULES ---
**/__pycache__/
**/.pytest_cache/
**/.env
**/*.sh
**/*.db
**/*.log
**/certs
**/.idea
**/.DS_Store
**/.vscode/*
