fastapi
uvicorn[standard]==0.30.6
gunicorn
asyncpg
alembic
redis==5.0.1
orjson
pydantic-settings
sqlalchemy[asyncpg]
arq==0.27.0
prometheus-client
prometheus-fastapi-instrumentator
aiokafka
aiosmtplib
firebase-admin
jinja2
websockets==12.0
wsproto==1.2.0