fastapi
uvicorn
gunicorn
sqlalchemy[asyncio]
asyncpg
aiokafka
arq
redis
pyjwt
bcrypt
geoip2
user-agents
aiosmtplib
pydantic
pydantic-settings
pydantic[email]
alembic
prometheus-fastapi-instrumentator
jsonschema
python-dotenv
python-multipart
fastapi-limiter
cryptography