fastapi
uvicorn
gunicorn
sqlalchemy[asyncio]
asyncpg
aiokafka
arq==0.26.3
redis>=4.2.0,<6.0.0
pyjwt
bcrypt
geoip2
user-agents
aiosmtplib
pydantic
pydantic-settings
email-validator
alembic
prometheus-fastapi-instrumentator
jsonschema
python-multipart
fastapi-limiter
cryptography
orjson
uvloop>=0.19.0
watchfiles