DB__DB_URL=postgresql+asyncpg://postgres:password@budgets_postgres:5432/budgets_db
DB__DB_POOL_SIZE=20
DB__DB_MAX_OVERFLOW=10

KAFKA__KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA__KAFKA_GROUP_ID=budgets-service
KAFKA__KAFKA_AUTO_OFFSET_RESET=earliest
KAFKA__KAFKA_ENABLE_AUTO_COMMIT=false
KAFKA__KAFKA_TOPIC_TRANSACTION_NEW=transaction.new
KAFKA__KAFKA_TOPIC_TRANSACTION_UPDATED=transaction.updated
KAFKA__KAFKA_TOPIC_TRANSACTION_DELETED=transaction.deleted
KAFKA__KAFKA_TOPIC_BUDGET_EVENTS=budget.budgets.events
KAFKA__KAFKA_TOPIC_NOTIFICATION_EVENTS=notification.events
KAFKA__KAFKA_TOPIC_BUDGET_DLQ=budget.budgets.dlq

ARQ__REDIS_URL=redis://redis_cache:6379/0
ARQ__ARQ_QUEUE_NAME=budgets_tasks

APP__LOG_LEVEL=INFO
APP__TZ=UTC
APP__ENV=development
