html,
body {
  margin: 0;
  height: 100%;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 960px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 12px;
  }
}

#root {
  display: flex;
  flex-flow: column;
  flex: 1;
  height: 100%;
}
