APP__ENV=prod
APP__DUMMY_HASH=
APP__FRONTEND_URL=https://CHANGE_ME_DOMAIN
APP__PROMETHEUS_PORT=8000
APP__LOG_LEVEL=INFO
APP__TZ=UTC

DB__DB_URL=postgresql+asyncpg://auth_user:CHANGE_ME_STRONG_PASSWORD@auth_postgres:5432/auth_db
DB__DB_POOL_SIZE=20
DB__DB_MAX_OVERFLOW=10

KAFKA__KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA__KAFKA_GROUP_ID=auth-service
KAFKA__KAFKA_AUTH_GROUP_ID=auth-service
KAFKA__KAFKA_TOPIC_AUTH_EVENTS=auth.events

ARQ__REDIS_URL=redis://redis_cache:6379/0
ARQ__ARQ_QUEUE_NAME=auth_tasks
ARQ__ARQ_TIMEZONE=UTC
ARQ__REDIS_MAX_CONNECTIONS=50

SMTP__SMTP_HOST=CHANGE_ME
SMTP__SMTP_PORT=587
SMTP__SMTP_USER=CHANGE_ME
SMTP__SMTP_PASS=CHANGE_ME
SMTP__SMTP_FROM_EMAIL=no-reply@CHANGE_ME_DOMAIN
SMTP__SMTP_FROM_NAME=SmartBudget

JWT__JWT_PRIVATE_KEY_PATH=/run/secrets/jwt-private.pem
JWT__JWT_PUBLIC_KEY_PATH=/run/secrets/jwt-public.pem
JWT__JWT_ALGORITHM=RS256
JWT__JWT_AUDIENCE=smartbudget-api
JWT__JWT_ISSUER=smartbudget-auth
JWT__ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT__REFRESH_TOKEN_EXPIRE_DAYS=30
JWT__EMAIL_TOKEN_EXPIRE_SECONDS=3600
JWT__SESSION_CACHE_EXPIRE_DAYS=30

GEO__DADATA_API_KEY=CHANGE_ME
GEO__DADATA_SECRET_KEY=CHANGE_ME
