APP__ENV=prod
APP__LOG_LEVEL=INFO
APP__TZ=UTC
APP__GOAL_CATEGORY_ID=24

DB__DB_URL=postgresql+asyncpg://budgets_user:CHANGE_ME_STRONG_PASSWORD@budgets_postgres:5432/budgets_db
DB__DB_POOL_SIZE=20
DB__DB_MAX_OVERFLOW=10

KAFKA__KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA__KAFKA_GROUP_ID=budgets-service
KAFKA__KAFKA_AUTO_OFFSET_RESET=earliest
KAFKA__KAFKA_ENABLE_AUTO_COMMIT=false
KAFKA__KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA__KAFKA_BATCH_SIZE=100
KAFKA__KAFKA_TOPIC_TRANSACTION_EVENTS=transaction.events
KAFKA__KAFKA_TOPIC_BUDGET_EVENTS=budget.events
KAFKA__KAFKA_TOPIC_DLQ=dlq

ARQ__REDIS_URL=redis://redis_cache:6379/0
ARQ__ARQ_QUEUE_NAME=budgets_tasks
ARQ__ARQ_TIMEZONE=UTC
ARQ__REDIS_MAX_CONNECTIONS=50
