APP__ENV=prod
APP__FRONTEND_URL=https://CHANGE_ME_DOMAIN
APP__LOG_LEVEL=INFO
APP__TZ=UTC

DB__DB_URL=postgresql+asyncpg://goals_user:CHANGE_ME_STRONG_PASSWORD@goals_postgres:5432/goals_db
DB__DB_POOL_SIZE=20
DB__DB_MAX_OVERFLOW=10

KAFKA__KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA__KAFKA_GROUP_ID=goals-service
KAFKA__KAFKA_AUTO_OFFSET_RESET=earliest
KAFKA__KAFKA_ENABLE_AUTO_COMMIT=false
KAFKA__KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA__KAFKA_BATCH_SIZE=100
KAFKA__KAFKA_TOPIC_TRANSACTION_EVENTS=transaction.events
KAFKA__KAFKA_TOPIC_GOAL_EVENTS=goal.events
KAFKA__KAFKA_TOPIC_DLQ=dlq

ARQ__REDIS_URL=redis://redis_cache:6379/0
ARQ__ARQ_QUEUE_NAME=goals_tasks
ARQ__ARQ_TIMEZONE=UTC
ARQ__REDIS_MAX_CONNECTIONS=50
