COMPOSE_PROJECT_NAME=smartbudget

CADDY_SITE_ADDRESS=https://smartBudget.developers-cv.ru
API_GATEWAY_HOST_PORT=80
FRONTEND_URL=https://CHANGE_ME_DOMAIN
API_BASE_URL=https://CHANGE_ME_DOMAIN/api/v1

REDIS_HOST=redis_cache
REDIS_PORT=6379
REDIS_HOST_PORT=6379

ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000
ZOOKEEPER_HOST_PORT=2181

KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_LISTENERS=INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
KAFKA_ADVERTISED_LISTENERS=INTERNAL://kafka:29092,EXTERNAL://CHANGE_ME_SERVER_HOST:9092
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_HOST_PORT=9092
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
ALLOW_PLAINTEXT_LISTENER=yes

AUTH_POSTGRES_USER=auth_user
AUTH_POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
AUTH_POSTGRES_DB=auth_db
AUTH_POSTGRES_HOST_PORT=5433

CLASS_POSTGRES_USER=classification_user
CLASS_POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
CLASS_POSTGRES_DB=classification_db
CLASS_POSTGRES_HOST_PORT=5434

TRANSACTIONS_POSTGRES_USER=transactions_user
TRANSACTIONS_POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
TRANSACTIONS_POSTGRES_DB=transactions_db
TRANSACTIONS_POSTGRES_HOST_PORT=5435

BUDGETS_POSTGRES_USER=budgets_user
BUDGETS_POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
BUDGETS_POSTGRES_DB=budgets_db
BUDGETS_POSTGRES_HOST_PORT=5438

GOALS_POSTGRES_USER=goals_user
GOALS_POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
GOALS_POSTGRES_DB=goals_db
GOALS_POSTGRES_HOST_PORT=5436

NOTIFICATION_POSTGRES_USER=notification_user
NOTIFICATION_POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
NOTIFICATION_POSTGRES_DB=notification_db
NOTIFICATION_POSTGRES_HOST_PORT=5437

AUTH_SERVICE_HOST_PORT=8000
CLASS_SERVICE_HOST_PORT=8001
GOALS_SERVICE_HOST_PORT=8002
NOTIFICATION_SERVICE_HOST_PORT=8003
TRANSACTIONS_SERVICE_HOST_PORT=8004
BUDGETS_SERVICE_HOST_PORT=8005
