fastapi
gunicorn
uvicorn
pydantic-settings
sqlalchemy[asyncio]
alembic
redis
arq
aiokafka
lightgbm
scikit-learn
joblib
prometheus-fastapi-instrumentator
jsonschema
asyncpg
greenlet
pandas
pyarrow
aiocache